@media screen and (min-width:1080px){
    body{

        header{
            height: 80px;
            padding: 0 100px;

            img{
                width: 36px;
                height: 36px;   
            }    
            
        
            nav{

                .menu{

                    span{
                       display: none;
                    }
                    input{
                        display: none;
                    }

                    ul{
                        display: flex; 
                        top: 0;
                        position: unset;
                        background: none;
                        
                        

                        li{
                            margin: 0;
                            margin-right: 48px;
                        
                            
                            a{ 
                                font-family: 'IBM Plex Mono';
                                font-size: 16px;
                                color: #060A24;
                                letter-spacing: 0;                               

                               

                                &:hover {
                                    color:#00F3BB;
                                    text-decoration: line-through;
                                }
                                
                            }                            
                        }                        
                        .topicos{
                            margin: 0;
                        }
                    }
                } 

                     
            }   

        }

        main{
            height:3435px; 
            

            .main-section {
                padding-left: 200px;
                height: 240px;
                margin-top: 120px;
                
                h1{
                    font-family: 'IBM Plex Sans';
                    font-size: 64px;
                    letter-spacing: 0;
                    margin-bottom: 0px;
                    line-height:84px;
                    width:100%;

                    .text-blue{
                        color: #0000EC;
                    }
                }

                p{
                    font-family: 'IBM Plex Mono';
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 24px; 
                    height: 48px;
                    width: 628px;
                    margin-bottom: 56px;
                    visibility: hidden;
                }
        
                p::before { 
                    content: "El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.";
                    visibility: visible;
                }
                a{
                    width: 226px;
                    height: 56px;
                    padding-top: 2px;
                    font-weight: 600;
                    font-size: 18px;
                }
            }

            .episodios{
                padding-top: 186px;
                margin-top: 5px;
                height:1042.6px;
                clip-path: polygon(0 12%, 100% 0, 100% 90%, 0 100%);
                

                h2{
                    margin-left:200px;
                    font-size: 48px;
                    letter-spacing: 0;
                    margin-bottom: 26px;
                    line-height: 62px;
                }

                

                .iframe-padre{
                    margin: 0 50px;
                    text-align: center;

                    .iframe{
                            display: inline-block;
                            padding: 0;
                            margin-bottom: 72px;
                            margin-right: 10px;
                            

                            iframe{
                                width: 480px;
                            
                            }

                        }

                    .unset-right{
                        margin-right: 0;
                    }

                    
                }
            }

            .phone{
                top: -160px;
                height: 660px;
                width: 457.6px;
                margin-left: 80px;

                img{
                    height: 100%;
                    object-fit: contain;
                }
            }

            .from{
                top: -160px;
                position: absolute;
                top:1500px;
                left:520px;

                h2{
                    font-size: 48px;
                    letter-spacing: 0;
                    width: 399px;
                }

                p{
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 24px; 
                    width: 464px;
                }

            }

            .stellar-guests {
                top: -160px;
                width: 100%;

                h2{
                    font-size: 48px;
                    letter-spacing: 0; 
                    width: 481px;
                    height: 62px;
                    margin-left: 200px;
                    margin-bottom:36px;
                    margin-top: 64px;
                    padding: 0;
                }
                .imagenes-stellar{
                    display: flex;
                    flex-wrap: wrap;
                    

                    div{
                        height:264px;
                        width: 33.33%;
                       
                    
                        img{
                            height:inherit;
                            width: 100%;
                        }
                
                    }

                }
            
            }

            .our-subjects{
                margin-top:64px;
                top: -160px;

                h2{
                    font-size: 48px;
                    letter-spacing: 0;
                    width: 586px;
                    margin-left: 100px;
                    padding: 0;
                }

            .nuestros-temas{
                    display: flex;
                    flex-wrap: wrap;
                    margin-left:120px;

                    .icon{
                       width: 206px;

                        img{
                            height:104px;
                            width: 104px;
                            margin-left: 60px;
                            margin-right: 60px;
                        }
                        h3{
                           text-align: center;
                           
                        }
                    }
                    .icon4{
                        width: 206px;
 
                         img{
                             height:104px;
                             width: 104px;
                             margin-left: 74px;
                             margin-right: 74px;
                            }
                         h3{
                            text-align: center;
                            line-height: 32px;
                            width: 220px;
                            margin-right: 20px;

                        }
                    }

                }

                

            }

            .news{
                top: -160px;
                height: 518px;
                margin-top:34px;
                clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);

                h2{
                    font-size: 44px;
                    letter-spacing: 0;
                    text-align: center;
                    padding-top: 213px;
                    margin-left: 50px;
                }

                
                    

                a{
                    height: 56px;
                    width: 345px;
                    margin-left:400px;
                    margin-top: 36px;
                    margin-bottom: 151px;
                    font-size: 18px;  
                    letter-spacing: 0;
                    text-align: center;
                    padding-top: 4px;
                }
                
            }


        

        }

        
        footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            top:-70px;
            height: 95px;
            padding-left: 100px;
            padding-right: 100px;
            padding-bottom: 31px;
            padding-top: 36px ;

            p{
                font-size: 16px;
                letter-spacing: 0;
                line-height: 28px;
                width: 269px;
                font-weight: 500;
            }

            
            div{
                padding:0;
                margin: 0;

                
                    a{
                        width: 28px;
                        height: 18px;
                        margin-left: 36px;
                        

                        
                    }
            }
              
        }
    }



}
