@media screen and (min-width:1440px){
    body{


        main{
            height:3632px; 
            

            .episodios{

                .iframe-padre{
                    margin: 0 100px;
                   

                    .iframe{
                        margin-bottom: 72px;
                        margin-right: 62px;
                            

                            iframe{
                                width: 584px;
                            
                            }

                    }

                    .unset-right{
                        margin-right: 0;
                    }

                    
                }
            }

            .phone{
                margin-left: 200px;
            }

            .from{
                left:720px;

            }

            .stellar-guests {
                top: -160px;

                .imagenes-stellar{
                    

                    div{
                        height: 364px;
                    
                
                    }

                }
            
            }

            .our-subjects{
                top: -160px;

                h2{
                    margin-left: 200px;
                }

            .nuestros-temas{
                    margin-left:200px;

                    .icon{
                       width: 260px;

                        img{
                            height:104px;
                            width: 104px;
                            margin-left: 78px;
                            margin-right: 78px;
                        }
                        
                    }
                    .icon4{
                        width: 260px;
 
                         img{
                             height:104px;
                             width: 104px;
                             margin-left: 78px;
                             margin-right: 78px;
                            }
            
                    }

                }

                

            }

            .news{
               

                h2{
                    font-size: 48px;
                    padding-top: 213px;
                    margin-left: 374px;
                    margin-right: 374px;
                }

                
                    

                a{
                    margin-left:547px;
                }
                
            }


        }

        
       
    }



}
