$background_secundario: #0000EC 100%;
$background_spam:#000;
$background_gradient_bottom:linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$background_gradient:linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$background_bottom:#00F3BB 100%;
$color_text_primario:#ffffff;
$color_text_secundario:#060A24 100%;
$fuente_1:'IBM Plex Mono';
$fuente_2:'IBM Plex Sans';
$fuente_3:'IBM Plex Sans', sans-serif;
$font_size_primaria: 36px;
$font_size_secundaria:14px;
$font_size_bottom:16px;
$font_size_icons:24px;
$line_height_text:22px;
$line_height_tittle:42px;
$line_height_bottom:48px;
$line_height_menu:28px;
