@import "_style";
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {

    header {
        display: flex;
        justify-content: space-between;
        height: 44px;
        padding-left: 16px;
        padding-right: 12px;
        align-items: center;

        nav {

            .menu {
                padding-top: 3px;

                input {
                    display: block;
                    width: 20px;
                    height: 20px;
                    opacity: 0;
                    z-index: 2;
                    position: absolute;
                    margin-right: 12px;
                    &[type="checkbox"]:checked ~ ul {
                        display: block;
                        height: 224px;
                        padding-top: 16px;
                        padding-left: 16px;
                    }
                    /*movimiento a cruz*/
                    &:checked ~ span {
                        opacity: 1;
                        transform: rotate(45deg) translate(2px, 1px);
                    }
                    &:checked ~ span:nth-last-child(3) {
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }
                    &:checked ~ span:nth-last-child(2) {
                        transform: rotate(-45deg) translate(1px, 0px);
                    }
                    
                }

                span {
                    display: block;
                    width: 25px;
                    height: 2.5px;
                    margin-bottom: 6.5px;
                    position: relative;
                    background: $background_spam;
                    z-index: 1;
                    transform-origin: 3px 0px;
                    margin-right: 12px;
                    &:first-child {
                        transform-origin: 0% 0%;
                    }
                    &:nth-last-child(2) {
                        transform-origin: 0% 100%;
                    }
                }


                ul {
                    position: absolute;
                    top: 44px;
                    left: 0;
                    width: 100%;
                    background:$background_secundario;
                    display: none;

                    li {
                        display: block;
                        width: 100%;
                        margin-bottom: 24px;
                        

                        a {
                            display: block;
                            width: 100%;
                            color:$color_text_primario;
                            line-height:$line_height_menu;
                            text-decoration: none;
                            font-family:$fuente_1;
                        }

                    }
                }
            }
        }
    }

    main {
        height: 5268px;

        .main-section {
            padding-left: 16px;

            h1 {
                width: 222px;
                line-height:$line_height_tittle;
                font-size: 36px;
                font-family:$fuente_2;
                font-weight: normal;
                margin-top: 29px;
                margin-bottom: 16px;

                .line-through{
                    text-decoration: line-through;
                }
            }

            p {
                width: 288px;
                height: 66px;
                margin-bottom: 36px;
                font-family: $fuente_1;
                color:$color_text_secundario;
                font-size:$font_size_secundaria;
            }
               

                a {
                    width: 288px;
                    background:$background_bottom;
                    display: block;
                    line-height:$line_height_bottom;
                    color:$color_text_secundario;
                    font-size:$font_size_bottom;
                    font-family:$fuente_1;
                    text-decoration: none;
                    font-weight: 500;
                    text-align: center;
                    &:hover {
                        background-image: $background_gradient_bottom;
                        color:$color_text_primario;
                    }
                }
            
        }

        .episodios {
            margin-top: 24px;            
            height: 1203.5px;
            padding-top: 64px;
            position: relative;
            clip-path: polygon(0 2.8%, 100% 0, 100% 97%, 0 100%);
            background-image:$background_gradient;

            h2 {
                margin-left: 16px;
                font-size: 36px;
                color:$color_text_primario;
                font-family:$fuente_2;
                line-height:$line_height_tittle;
                font-weight: normal;
                margin-bottom: 21px;
                position: relative;
            }
            .iframe-padre{
                    
                    .iframe {
                    height: 232px;
                    padding-left: 11px;
                    margin-bottom: 11px;

                        iframe{
                            height: inherit;
                        }
                    }
            }
        }

        .phone{
            width: 100%;
            height: 519px;
            position: relative;
            top: -70px;

            figure{
                height: inherit;
            

            img{
                width: 100%;
            }
         }
            
        }

        .from{
            padding-left: 16px;
            position: relative;
            top: -70px;
            margin-top: 20px;

            h2{ height: 84px;
                width: 288px;
                font-family:$fuente_2;
                font-size:$font_size_primaria;
                color:$color_text_secundario;
                letter-spacing: 0;
                line-height: 42px;
                font-weight: 400;
            
            }
            p{
                height: 264px;
                width: 288px;
                font-family:$fuente_1;
                font-size:$font_size_secundaria;
                color:$color_text_secundario;
                letter-spacing: 0;
                line-height:$line_height_text;
                font-weight:500;
                margin-top: 8px;
            }
        }

        .stellar-guests{
            position: relative;
            top: -70px;
            margin-top: 54px;
            height: auto;

            h2{
                font-family:$fuente_2;
                font-size:$font_size_primaria;
                color:$color_text_secundario;
                letter-spacing: 0;
                line-height:$line_height_tittle; 
                width: 288px;
                height: 84px;
                font-weight: 400;
                padding-left: 16px;
                margin-bottom: 14px;
            }
            .imagenes-stellar{
                height: auto;
                    
                    div{
                        width: 100%;
                        height: 243px;
                    }

                    img{
                        height:inherit;
                        width: 100%;
                        padding: 0;
                        border: 0;
                
                    }

            }
        }

        .our-subjects{
            position: relative;
            top: -70px;
            margin-top: 48px;
           

                h2{
                    height: 84px;
                    width: 288px;
                    font-family:$fuente_2;
                    font-size:$font_size_primaria;
                    color:$color_text_secundario;
                    letter-spacing: 0;
                    line-height:$line_height_tittle;
                    font-weight: 400;
                    margin-bottom: 24px;
                    padding-left: 16px;
                }
            .icon{
                    margin-bottom:38px;

                    img{
                        width: 104px;
                        height: 104px;
                        margin: 0;
                        margin: 13px 108px;
                    }

                    h3{
                        font-family:$fuente_3;
                        font-size:$font_size_icons;
                        color:$color_text_secundario;
                        letter-spacing: 0;
                        text-align: center;
                        font-weight:700;
                        margin-left: 16px;
                    
                       
                    }
                }
            
            .icon4{

                    img{
                        width: 104px;
                        height: 104px;
                        margin: 0;
                        margin: 13px 108px;
                    }

                    h3{
                        font-family:$fuente_3;
                        font-size:$font_size_icons;
                        color:$color_text_secundario;
                        letter-spacing: 0;
                        text-align: center;
                        font-weight:700;
                        margin-left: 16px;  
                    }

            }
           

        }

        .news {
                margin-top:42px;
                height: 341px;
                position: relative;
                top: -70px;
                width: 100%;
                background-image:$background_gradient;
                clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
            

                h2{
                    position: relative;
                    font-family:$fuente_2;
                    font-size:$font_size_primaria;
                    color:$color_text_primario;
                    letter-spacing: 0;
                    text-align: center;
                    line-height:$line_height_tittle;
                    font-weight: normal;
                    margin-left:16px;
                    padding-top: 64px;
                }

                

                a {
                    position: relative;
                    width: 288px;
                    background:$background_bottom;
                    margin-top: 36px;
                    margin-left: 16px;
                    display: block;
                    line-height:$line_height_bottom;
                    color:$color_text_secundario;
                    font-size:$font_size_bottom;
                    font-family:$fuente_1;
                    text-decoration: none;
                    font-weight:700;
                    text-align: center;
                    &:hover {
                        background-image:$background_gradient_bottom;
                        color:$color_text_primario;
                    }
                }

        }

    }

    footer{
        
        background-color:$color_text_primario;
        height: 121px;
        padding-top: 24px;
        
            p{

                font-family:$fuente_1;
                font-size:$font_size_secundaria;
                color:$color_text_secundario;
                letter-spacing: 0;
                line-height:$line_height_text;
                margin-left: 47px;
                
                font-weight: 600;
                height: 22px;
                width: 227px;
            }
        

        div{
            display: flex;
            justify-content: space-evenly;
            padding-top: 16px;
           
            i{
                height: 28px;
                width: 16px;
                object-fit: contain;
                margin-bottom: 31px;
                color:black;
            }
            
        }
        
    }
}
@import"mediaqueries-1080";
@import"mediaqueries-1440";

