* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {

    header {
        display: flex;
        justify-content: space-between;
        height: 44px;
        padding-left: 16px;
        padding-right: 12px;
        align-items: center;

        nav {

            .menu {
                padding-top: 3px;

                input {
                    display: block;
                    width: 20px;
                    height: 20px;
                    opacity: 0;
                    z-index: 2;
                    position: absolute;
                    margin-right: 12px;
                    &[type="checkbox"]:checked ~ ul {
                        display: block;
                        height: 224px;
                        padding-top: 16px;
                        padding-left: 16px;
                    }
                    /*movimiento a cruz*/
                    &:checked ~ span {
                        opacity: 1;
                        transform: rotate(45deg) translate(2px, 1px);
                    }
                    &:checked ~ span:nth-last-child(3) {
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }
                    &:checked ~ span:nth-last-child(2) {
                        transform: rotate(-45deg) translate(1px, 0px);
                    }
                    
                }

                span {
                    display: block;
                    width: 18px;
                    height: 2px;
                    margin-bottom: 6.5px;
                    position: relative;
                    background: #000;
                    z-index: 1;
                    transform-origin: 3px 0px;
                    margin-right: 12px;
                    &:first-child {
                        transform-origin: 0% 0%;
                    }
                    &:nth-last-child(2) {
                        transform-origin: 0% 100%;
                    }
                }


                ul {
                    position: absolute;
                    top: 44px;
                    left: 0;
                    width: 100%;
                    background: #0000EC 100%;
                    display: none;

                    li {
                        display: block;
                        width: 100%;
                        margin-bottom: 24px;

                        a {
                            display: block;
                            width: 100%;
                            color: #ffffff;
                            line-height: 28px;
                            text-decoration: none;
                            font-family: 'IBM Plex Mono';
                        }

                    }
                }
            }
        }
    }

    main {
        height: 5268px;

        .main-section {
            padding-left: 16px;

            h1 {
                width: 222px;
                line-height: 42px;
                font-size: 36px;
                font-family: 'IBM Plex Sans';
                font-weight: normal;
                margin-top: 29px;
                margin-bottom: 16px;

                span {
                    text-decoration: line-through;
                }
            }

            p {
                width: 288px;
                height: 66px;
                margin-bottom: 36px;
                font-family: 'IBM Plex Mono';
                color: #060A24 100%;
                font-size: 14px;
            }

            button {
                width: 288px;
                background: #00F3BB 100%;

                a {
                    display: block;
                    line-height: 48px;
                    color: #060A24 100%;
                    font-size: 16px;
                    font-family: 'IBM Plex Mono';
                    text-decoration: none;
                    font-weight: 500;
                    &:hover {
                        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
                        color: #ffffff;
                    }
                }
            }
        }

        .episodios {
            margin-top: 24px;            
            height: 1203.5px;
            padding-top: 64px;
            position: relative;

            .background {
                position: absolute;
                top: 0;
                width: 100%;
                height: inherit;
                background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
                transform: skewY(-6deg);
                transform-origin: top right;
            }
            

            h2 {
                margin-left: 16px;
                font-size: 36px;
                color: #ffffff;
                font-family: 'IBM Plex Sans';
                line-height: 42px;
                font-weight: normal;
                margin-bottom: 21px;
                position: relative;
            }
            .iframe-padre{
                height: auto;
                    
                    .iframe {
                    height: 232px;
                    padding-left: 11px;
                    margin-bottom: 11px;
                    position: relative;
                    }
            }
        }

        .phone{
            width: 100%;
            height: 519px;
            position: relative;
            top: -70px;

            figure{
                height: inherit;
            

            img{
                width: 100%;
            }
         }
            
        }

        .from{
            padding-left: 16px;
            position: relative;
            top: -70px;
            margin-top: 27px;

            h2{ height: 84px;
                width: 288px;
                font-family: 'IBM Plex Sans';
                font-size: 36px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 42px;
                font-weight: 400;
            
            }
            p{
                height: 264px;
                width: 288px;
                font-family: 'IBM Plex Mono';
                font-size: 14px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 22px;
                font-weight:500;
                margin-top: 8px;
            }
        }

        .stellar-guests{
            position: relative;
            top: -70px;
            margin-top: 54px;
            height: auto;

            h2{
                font-family: 'IBM Plex Sans';
                font-size: 36px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 42px; 
                width: 288px;
                height: 84px;
                font-weight: 400;
                padding-left: 16px;
                margin-bottom: 14px;
            }
            .imagenes-stellar{
                height: auto;
                    
                    div{
                        width: 320px;
                        height: 243px;
                    }

                    img{
                        width: 320px;
                        height: 243px;
                        padding: 0;
                        border: 0;
                
                    }

            }
        }

        .our-subjects{
            position: relative;
            top: -70px;
            margin-top: 48px;
           

                h2{
                    height: 84px;
                    width: 288px;
                    font-family: 'IBM Plex Sans';
                    font-size: 36px;
                    color: #060A24;
                    letter-spacing: 0;
                    line-height: 42px;
                    font-weight: 400;
                    margin-bottom: 24px;
                    padding-left: 16px;
                }
            .icon{
                    margin-bottom:38px;

                    img{
                        width: 104px;
                        height: 104px;
                        margin: 0;
                        margin: 13px 108px;
                    }

                    h3{
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-size: 24px;
                        color: #060A24;
                        letter-spacing: 0;
                        text-align: center;
                        font-weight:700;
                        margin-left: 16px;
                    
                       
                    }
                }
            
            .icon4{

                    img{
                        width: 104px;
                        height: 104px;
                        margin: 0;
                        margin: 13px 108px;
                    }

                    h3{
                        font-family: 'IBM Plex Sans', sans-serif;
                        font-size: 24px;
                        color: #060A24;
                        letter-spacing: 0;
                        text-align: center;
                        font-weight:700;
                        margin-left: 16px;  
                    }

            }
           

        }

        .news{
                margin-top:42px;
                height: 341px;
                position: relative;
                top: -70px;
                width: 100%;
                background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
                clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
            

            h2{
                position: relative;
                font-family: 'IBM Plex Sans';
                font-size: 36px;
                color:#FFFFFF;;
                letter-spacing: 0;
                text-align: center;
                line-height: 42px;
                font-weight: normal;
                margin-left:16px;
                padding-top: 64px;
            }

            button{
                position: relative;
                width: 288px;
                background: #00F3BB 100%;
                margin-top: 36px;
                margin-left: 16px;

                a {
                    display: block;
                    line-height: 48px;
                    color:#060A24 100%;
                    font-size: 16px;
                    font-family: 'IBM Plex Mono';
                    text-decoration: none;
                    font-weight:700;
                    }
                    &:hover {
                        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
                        color: #ffffff;
                    }
            }

        }

    }

    footer{
        
        background-color:  #ffffff;
        height: 121px;
        padding-top: 24px;
        
            p{

                font-family: 'IBM Plex Mono';
                font-size: 14px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 22px;
                margin-left: 47px;
                
                font-weight: 600;
                height: 22px;
                width: 227px;
            }
        

        div{
            display: flex;
            justify-content: space-evenly;
            padding-top: 16px;
           
                img{
                    height: 28px;
                    width: 16px;
                    object-fit: contain;
                    margin-bottom: 31px;
                    
                }
            
            }
        
    }
}
@import"mediaqueries";
